<!DOCTYPE html>
<html>
</head>
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="row" style="background-color:gray;height:50px">
 <a href="#" style="color:white;margin-left:100px;font-size:25px"> Amrita Social Network
     
       </div>


<div class="container" style="margin-top:30px;color:black">
<h1> <%=JSON.stringify(res1[0].name)%> profile </h1> 
   <div class="row">
      
        <div class="col-md-3" style="color:black">
            <img src="http://placehold.it/500x250/EEE" style="width:80%">

              <h4 style="color:black"><%=JSON.stringify(res1[0].name)%></h4>
              Email:<%=JSON.stringify(res1[0].email)%>
              Username:<%=JSON.stringify(res1[0].name1)%>
               
         </div>
            
                
           
          
 </div>

</body>
</html>
